<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <span>Account: {{account}}</span>
  <input type="text" placeholder="wineAddress" [(ngModel)]="address" />
  <span>{{result}}</span>

  <input type="text" placeholder="characteristics" [(ngModel)]="grapeVariety" /><br />
  <button (click)="setGrapeVariety()">set</button><br />
  <button (click)="details()">get details</button><br />
  <button (click)="deploy()">deploy</button><br />
</div>
